# Practice Questions

## Question 1 : Write a for loop to print all even numbers from 2 to 20.

In [14]:
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

# Question 2 : Create a list of names and use a for loop to print each name in uppercase.

In [78]:
# List of names
names = ["Ali", "Rahim", "Arsal", "David", "Jack"]

# Using a for loop to print each name in uppercase
for name in names:
    print(name.upper())

ALI
RAHIM
ARSAL
DAVID
JACK

# Question 3 : Use a for loop with range() to print numbers from 10 to 1 in reverse order.

In [59]:
# Using range() to print numbers from 10 to 1 in reverse order
for number in range(10, 0, -1):
    print(number)

10
9
8
7
6
5
4
3
2
1

# Question 4 : Iterate through a list of integers and print only the numbers that are divisible by 3.

In [80]:
# List of integers
numbers = [10, 15, 23, 30, 42, 55, 60]

# Iterate through the list and print numbers divisible by 3
for number in numbers:
    if number % 3 == 0:
        print(number)

15
30
42
60

# Question 5 : Write a loop that prints the squares of numbers from 1 to 10.

In [63]:
# Loop to print the squares of numbers from 1 to 10
for number in range(1, 11):
    print(number ** 2)

1
4
9
16
25
36
49
64
81
100

# Question 6 : Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

In [82]:
# List of temperatures in Celsius
celsius_temperatures = [0, 10, 20, 30, 40]

# Loop to convert each temperature to Fahrenheit and print it
for celsius in celsius_temperatures:
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius}°C is {fahrenheit}°F")

0°C is 32.0°F
10°C is 50.0°F
20°C is 68.0°F
30°C is 86.0°F
40°C is 104.0°F

# Question 7 : Create a for loop that prints the multiplication table of 5.

In [68]:
# Loop to print the multiplication table of 5
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Question 8 : Write a program to find the sum of all numbers in a list using a for loop.

In [71]:
# List of numbers
numbers = [1, 2, 3, 4, 5, 6]

# Variable to store the sum
total_sum = 0

# Loop through the list and add each number to total_sum
for number in numbers:
    total_sum += number

# Print the total sum
print(f"The sum of all numbers is: {total_sum}")

The sum of all numbers is: 21

# Question 9 : Use a for loop to iterate through a string and print each character separately.

In [74]:
# String to iterate through
text = "Hello"

# Loop through each character in the string and print it
for char in text:
    print(char)

H
e
l
l
o

# Question 10 : Create a list of words and use a for loop to print only the words with more than 5 letters.

In [76]:
# List of words
words = ["apple", "banana", "cherry", "kiwi", "strawberry", "grape"]

# Loop through the list and print words with more than 5 letters
for word in words:
    if len(word) > 5:
        print(word)

banana
cherry
strawberry